<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DELI-VERY</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Turret+Road&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Raleway:wght@200&display=swap" rel="stylesheet">
        
        <script type="module" src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script type="module" src= "js/vue_script.js" defer></script>
        
    </head>
    <body>


        <div class="wrapper">
            <div class="box">
                <header>
                    <img src="/img/restaurant.png" alt= "Restaurant" class="fadeImage">
                    <h1 class="mainname">Welcome to BurgerHeaven Online</h1>
                </header>
            </div>

            <main id="main">
                <div class="box">
                    <!-- Här kommer alla burgare från menu.js -->
                    <div id="my-app">
                        <h2>Select burger</h2>
                        <p>
                        This is where you execute burger selection
                        </p>
                        <div class="all_burgers">
                        <div class="item" v-for="item in items">
                        <h3 class="box header">{{item.name}}</h3>
                        <img v-bind:src="item.img" class="box picture">
                        <ul class="box allergy">
                            <li>{{item.kCal}} kCal</li>
                            <li v-if="item.gluten">Contains gluten</li>
                            <li v-if="item.lactose">Contains lactose</li>
                        </ul>
                        <p class="description">{{item.description}}</p>

                        <div>
                            <input type="checkbox" id="burgerOK" name="burgerCheck" value="burgerCheck">
                            <label for="burgerCheck"> Order {{ item.name }} </label><br>
                        </div>

                        </div>
                        
                        </div>
                    </div>
                </div>
            
            <div class="box">
                <div class="contact">
                    <h2>Customer information</h2>
                    <p>Fill in your personal information</p>
                    <form>
                        
                        <!-- Namn -->
                        <p>
                            <label for="fullname">Full name</label><br>
                            <input v-model="name" type="text" id="fullname" name="name" required="required" >
                        </p>
                        
                        
                        <!-- Email -->
                        <p>
                            <label for="email">Last</label><br>
                            <input v-model="email" type="email" id="email" name="em" required="required" >
                        </p>
    
                        
                        <!-- Adress -->
                        <p>
                            <label for="adress">Adress</label><br>
                            <input v-model="adress" type="text" id="adress" name="adress" required="required">
                        </p>
    
                        
                        <!-- Gatunummer -->
                        <p>
                            <label for="house">House number</label><br>
                            <input v-model="strnumber" type="number" id="house" name="house" required="required">
                        </p>
    
                        
                        <!-- Betalmetod -->
                        <p>
                            <label for="payment">Payment method</label><br>
                            <select v-model="payment" id="payment" name="pay">
                                <option selected="selected">Debit card</option>
                                <option>Bank transakcion</option>
                                <option>Upon delivery</option>
                                <option>Klarna</option>
                            </select>
                        </p>
    
                        
                        <!-- Kön -->
                        <p>
                            <label for="gender">Gender:</label><br>
    
                            <input v-model="genderPicked" type="radio" id="noinfo" name="gender" value="noinfo" checked="checked">
                            <label for="noinfo">Wish not to answer</label><br>
    
                            <input v-model="genderPicked" type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label><br>
    
                            <input v-model="genderPicked" type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label><br>
    
                            <input v-model="genderPicked" type="radio" id="other" name="gender" value="other">
                            <label for="other">Other</label>    
                        </p>

                        <!-- Kommentar -->
                        <p>
                            <label for="comment ">Anything you want us to know?</label><br>
                            <input v-model="comment" type="text" id="comment" name="comment">
                        </p>
    
                        
                        <!-- Beställningsknapp -->
                        <p>
                            <button v-on:click= "buttonClicked" id= "myButtonID" type="submit" value="Send" v-onclick="addOrder()" >Send<img src="img/check.png" width=20px height="20px">
                        </p>



                        

                    </form>
                </div>
            </div>

        </main>
            <div class="box">
                <footer>
                    <hr>
                        <p>
                               © Copyrigth Rebecca Fällström 2020
                        </p>
                </footer>
            </div>

        </div>

        

        
    </body>
</html>