<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DELI-VERY</title>
        
        <!-- CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="css/deli-very.css">

        <!-- Typsnitt -->
        <link href="https://fonts.googleapis.com/css2?family=Turret+Road&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Raleway:wght@200&display=swap" rel="stylesheet">
        
        <!-- För message -->
        <script src="/socket.io/socket.io.js" defer></script>

        <!-- Andra JS/VUE -->
        <script type="module" src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script type="module" src= "js/vue_script.js" defer></script>
        <script src="/vue/vue.js" defer></script>
        
    </head>
    <body>


        <div class="wrapper">
            <div class="box">
                <header>
                    <img src="/img/restaurant.png" alt= "Restaurant" class="fadeImage">
                    <h1 class="mainname">Welcome to BurgerHeaven Online</h1>
                </header>
            </div>

            <main id="main">
                <div class="box">
                    <!-- Här kommer alla burgare från menu.js -->
                    <div id="my-app">
                        <h2>Select burger</h2>
                        <p>
                        This is where you execute burger selection
                        </p>
                        <div class="all_burgers">
                        <div class="item" v-for="item in items">
                        <h3 class="box header">{{item.name}}</h3>
                        <img v-bind:src="item.img" class="box picture">
                        <ul class="box allergy">
                            <li>{{item.kCal}} kCal</li>
                            <li v-if="item.gluten">Contains gluten</li>
                            <li v-if="item.lactose">Contains lactose</li>
                        </ul>
                        <p class="description">{{item.description}}</p>

                        <div>
                            <input type="checkbox" id="checkbox" :value="item.name">
                            <label for="burgerCheck"> Order {{ item.name }} </label><br>
                        </div>

                        </div>
                        
                        </div>
                    </div>
                </div>
            
            <div class="box">
                <div class="contact">
                    <h2>Customer information</h2>
                    <p>Fill in your personal information</p>
                    <form>
                        
                        <!-- Namn -->
                        <p>
                            <label for="fullname">Full name</label><br>
                            <input type="text" id="fullname" name="name" required="required" placeholder="First and last name" >
                        </p>
                        
                        
                        <!-- Email -->
                        <p>
                            <label for="email">Last</label><br>
                            <input type="email" id="email" name="em" required="required" placeholder="example@email.com">
                        </p>
    
                        
                        <!-- Adress -->
                        <p>
                            <label for="adress">Adress</label><br>
                            <input type="text" id="adress" name="adress" required="required" placeholder="Street name">
                        </p>
    
                        
                        <!-- Gatunummer -->
                        <p>
                            <label for="house">House number</label><br>
                            <input type="number" id="house" name="house" required="required" placeholder="House nr">
                        </p>
    
                        
                        <!-- Betalmetod -->
                        <p>
                            <label for="payment">Payment method</label><br>
                            <select id="payment" name="pay">
                                <option selected="selected">Debit card</option>
                                <option>Bank transakcion</option>
                                <option>Upon delivery</option>
                                <option>Klarna</option>
                            </select>
                        </p>
    
                        
                        <!-- Kön -->
                        <p>
                            <label for="gender">Gender:</label><br>
    
                            <input type="radio" id="noinfo" name="gender" value="noinfo" checked="checked">
                            <label for="noinfo">Wish not to answer</label><br>
    
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label><br>
    
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label><br>
    
                            <input type="radio" id="other" name="gender" value="other">
                            <label for="other">Other</label>    
                        </p>


                        <!-- Kommentar, eventuellt ta bort då den just nu inte används 
                        <p>
                            <label for="comment ">Anything you want us to know?</label><br>
                            <input v-model="comment" type="text" id="comment" name="comment">
                        </p>
                        -->
                        



                        <!-- Karta (ersätter manuell adress sen) -->
                        <h3>Your position</h3>
                        <div class="view-box">

                            <div id="dots" v-on:click="displayOrder">
                                <div 
                                  
                                  v-bind:style="{ left: details.x + 'px', top: details.y + 'px'}">
                                  T
                                </div>
                            </div>
                        </div>


                        
                        <!-- Beställningsknapp -->
                        <p>
                            <button v-on:click= "buttonClicked" id= "myButtonID" type="submit" value="Send">Submit<img src="img/check.png" width=20px height="20px">   
                        </p>


                        <!-- Visar order om beställning är lagd ::: <div v-if="click">-->
                        <div >
                            <h2>Confirmation of order</h2>
                            <ul>
                                <li>Name: {{ customerArray[0] }} </li>
                                <li>Email: {{ customerArray[1] }} </li>
                                <li>Adress: {{ customerArray[2] }} {{ customerArray[2] }}</li>
                                <li>Payment: {{ customerArray[4] }} </li>
                                <li>Gender: {{ customerArray[5] }} </li>
                                <li>Order: {{ "Burgers selected: " + checkedBurgers }} </li>
                            </ul>

                        </div>





                        

                    </form>
                </div>
            </div>

        </main>
            <div class="box">
                <footer>
                    <hr>
                        <p>
                               © Copyrigth Rebecca Fällström 2020
                        </p>
                </footer>
            </div>

        </div>

        

        
    </body>
</html>