<div class="all_burgers">

    <div class="box burger a" >
        <div class="box header">
            h3>Classic Burger</h3>
        </div>
        
        <div class="box picture">
            <h3>Classic Burger</h3>
        </div>

        <div class="box description">
            <h3>Classic Burger</h3>
        </div>

        <div class="box allergy">
            <h3>Classic Burger</h3>
        </div>

    </div>


    <div class="box burger b" >
        <div class="box header">
            h3>Classic Burger</h3>
        </div>
        
        <div class="box picture">
            <h3>Classic Burger</h3>
        </div>

        <div class="box description">
            <h3>Classic Burger</h3>
        </div>

        <div class="box allergy">
            <h3>Classic Burger</h3>
        </div>

    </div>

    <div class="box burger c" >
        <div class="box header">
            h3>Classic Burger</h3>
        </div>
        
        <div class="box picture">
            <h3>Classic Burger</h3>
        </div>

        <div class="box description">
            <h3>Classic Burger</h3>
        </div>

        <div class="box allergy">
            <h3>Classic Burger</h3>
        </div>

    </div>

</div>

.all_burgers {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px
    background-color: #fff;
    color: #444;
}

.burger {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    padding: 20px;
}

.header {
    grid-row: 1;
}
.picture {
    grid-row: 2;
}
.description {
    grid-row: 3 ;
}
.allergy {
    grid-row: 4 ;
}
 
.a {
    grid-row: 1;
    grid-column: 1;
}

.b {
    grid-row: 1;
    grid-column: 2;
}

.c {
    grid-row: 2;
    grid-column: 1;
}

